OPENAI_API_KEY=sk-...
DATABASE_URL=postgresql://postgres:postgres@localhost:5544/rag
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="rag-demo"